.nav-bar {
  top: 0;
  display: flex;
  position: relative;
  height: auto;
  padding: 0 10%;
}
.nav {
  height: auto;
}
.menu {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
}
.menu-list {
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 100%;
}
.menu-list li {
  display: inline;
  cursor: pointer;
}
.menu-list li a {
  padding: 10px;
}
.menu-list li :hover {
  color: #686868;
}
.logout {
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 100%;
}
.logout p {
  cursor: pointer;
}
.logout p:hover {
  color: #686868;
}
